<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta charset="UTF-8">
<title>肥肥好好吃-西餐專賣</title>
<link rel="icon" type="image/x-icon" href="assets/img/SmallIconEAT.jpg" />
<base href="/">
<!-- Bootstrap CSS  & FontAwsome-->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="font-awesome/css1/all.css" rel="stylesheet">
<link rel="icon" href="images/icon.png" />
<!-- Our Custom CSS -->
<link rel="stylesheet" href="css/style4.css">
<link rel="stylesheet" href="css/card.css">
<link rel="stylesheet" href="css/styles-1.css">
<link rel="stylesheet" href="css/form.css">
<script type="text/javascript" src="font-awesome/js1/fontawesome.js"></script>

</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
<body>
<div  class="form">
<form name="myForm" th:action="@{/pages/signup.controller}" 
		method="get">
		<input type="hidden" name="memberNo" value="0">
		<table style="background-color: rgba(230, 167, 86, 0.8);">
			<tr>
				<td colspan="2" align="center"><h1>會員註冊</h1></td>
			</tr>
			<tr>
				<td>帳號</td>
				<td><input type="text" name="account"></td>
			</tr>
			<tr>
				<td>密碼</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>姓名</td>
				<td><input type="text" name="memberName"></td>
			</tr>
			<tr>
				<td>電話</td>
				<td><input type="text" name="phone"></td>
			</tr>
			<tr>
				<td>地址</td>
				<td><input type="text" name="address"></td>
			</tr>
			<!-- 			<tr> -->
			<!-- 				<td>驗證碼</td> -->
			<!-- 				<td align="right"><button>驗證</td> -->
			<!-- 			</tr> -->
			<tr>

				<td colspan="2" align="right"><input type="submit" value="註冊"
					name="signup"></td>

			</tr>
		</table>
	</form>
	</div>
</body>
</html>