<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../css/BackEnd.css" />
<link rel="stylesheet" type="text/css"
	href="../css/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
<script type="text/javascript"
	src="../css/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>

<base href="/">
<link href="css/bootstrap.css" rel="stylesheet">
<!-- Our Custom CSS -->
<link rel="stylesheet" href="style4.css">
<link rel="stylesheet" href="css/bootstrap-select.min.css">
<script type="text/javascript" src="font-awesome/js1/fontawesome.js"></script>
<script type="text/javascript" src=""></script>
<title>後台系統</title>
<style type="text/css">
</style>

</head>
<body>

	<div class="sidenav">
		<a class="logo" href="/manage/back.page" style="height:80px; font-size:30px;
		 margin-top:20px; padding-left:40px; border-bottom:1px solid;">後台系統</a>

		<li><a href="/manage/product.page">餐點管理</a></li>
		<li class="active"><a href="/manage/order.page">訂單管理</a></li>
		<button class="dropdown-btn">
			銷量分析 <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<li><a href="/manage/sales.page">網路訂餐</a></li>
			<li><a href="/manage/delivery.page">外送訂餐</a></li>
		</div>
		<li><a href="/manage/Preferential.page">優惠管理</a></li>
	</div>

	<div class="main">
		<div
			style="width: 80%; padding-top: 20px; border-bottom-style: solid; border-bottom-width: 20%; margin: auto;">
			<center>
				<h2>訂單管理</h2>
			</center>
		</div>


		<div id="content">

			<div class="container" id="app">
				<!-- Default form subscription -->
				<div class="card">
					<div class="card-header">

						<div class="tab">
							<button class="tablinks " onclick="openTab(event, 'order')"
								id="defaultOpen">
								<a class="text-warning"> 外帶</a>
							</button>
							<button class="tablinks" onclick="openTab(event, 'order2')">
								<i class="text-primary"> 外帶</i>
							</button>
							<button class="tablinks" onclick="openTab(event, 'order3')">
								<a class="text-warning">外送</a>
							</button>
							<button class="tablinks" onclick="openTab(event, 'order4')">
								<i class="text-primary"> 外送</i>
							</button>

						</div>
					</div>
					<div class="card-body">


						<div id="order" class="tabcontent">
							<h5 class="text-center">外帶未取餐</h5>
							<hr>
							<br>


							<div class="form-group">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>姓名</th>
											<th>電話</th>
											<th>日期</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="order : ${orders} "
											th:if="${order.ordered =='未取餐' && order.orderway =='takeout'}">
											<td>[[${order.orderuser}]]</td>
											<td>[[${order.orderphone}]]</td>
											<td>[[${order.date}]]</td>

											<td><a style="border: 1px solid green; padding:0 10px 0 10px;"
												th:href="@{/manage/orderdetail/{id}(id = ${order.orderno})}"
												class="text-success"> 明細</a></td>
										</tr>
									</tbody>
								</table>
							</div>


						</div>

						<div id="order2" class="tabcontent">
							<h5 class="text-center">外帶已取餐</h5>
							<hr>
							<br>

							<div class="form-group">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>姓名</th>
											<th>電話</th>
											<th>日期</th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="order : ${orders} "
											th:if="${order.ordered =='已取餐' && order.orderway =='takeout'}">
											<td>[[${order.orderuser}]]</td>
											<td>[[${order.orderphone}]]</td>
											<td>[[${order.date}]]</td>

											<td><a  style="border: 1px solid green; padding:0 10px 0 10px;"
												th:href="@{/manage/orderdetail/{id}(id = ${order.orderno})}"
												class="text-success"> 明細</a></td>
											<td><form action="deleteOrder" method="post">
													<input type="hidden" name="id" th:value="${order.orderno}">
													<button class="btn checkout btn-danger" type="submit"
														style="width: 100px; font-size: 18px;">刪除</button>
													
												</form></td>
										</tr>
									</tbody>
								</table>
							</div>


						</div>

						<div id="order3" class="tabcontent">
							<h5 class="text-center">外送未取餐</h5>
							<hr>
							<br>
							<form action="/Admin/addDiscountToP" method="POST">

								<div class="form-group">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>姓名</th>
												<th>電話</th>
												<th>日期</th>
												<th></th>
												
											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${orders} "
												th:if="${order.ordered =='未取餐' && order.orderway =='delivery'}">
												<td>[[${order.orderuser}]]</td>
												<td>[[${order.orderphone}]]</td>
												<td>[[${order.date}]]</td>

												<td><a style="border: 1px solid green; padding:0 10px 0 10px;"
													th:href="@{/manage/orderdetail/{id}(id = ${order.orderno})}"
													class="text-success"> 明細</a></td>
											</tr>
										</tbody>
									</table>
								</div>

							</form>
						</div>

						<div id="order4" class="tabcontent">
							<h5 class="text-center ">外送已取餐</h5>
							<hr>
							<br>
						
								<div class="form-group">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>姓名</th>
												<th>電話</th>
												<th>日期</th>
												<th></th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${orders} "
												th:if="${order.ordered =='已取餐' && order.orderway =='delivery'}">
												<td>[[${order.orderuser}]]</td>
												<td>[[${order.orderphone}]]</td>
												<td>[[${order.date}]]</td>

												<td><a style="border: 1px solid green; padding:0 10px 0 10px;"
													th:href="@{/manage/orderdetail/{id}(id = ${order.orderno})}"
													class="text-success"> 明細</a></td>
												<td><form action="deleteOrder" method="post">
													<input type="hidden" name="id" th:value="${order.orderno}">
													<button class="btn checkout btn-danger" type="submit"
														style="width: 100px; font-size: 18px;">刪除</button>
													
												</form></td>
											</tr>
										</tbody>
									</table>
								</div>
							
						</div>


					</div>
				</div>
				<!-- Default form subscription -->
			</div>

		</div>
	</div>


	<!-- Bootstrap JS & jQuery -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
		integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
		crossorigin="anonymous"></script>
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap-select.min.js"></script>

	<script type="text/javascript">
		var dropdown = document.getElementsByClassName("dropdown-btn");
		var i;

		for (i = 0; i < dropdown.length; i++) {
			dropdown[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var dropdownContent = this.nextElementSibling;
				if (dropdownContent.style.display === "block") {
					dropdownContent.style.display = "none";
				} else {
					dropdownContent.style.display = "block";
				}
			});
		}
	</script>

	<script>
		function openTab(evt, Name) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(
						" active", "");
			}
			document.getElementById(Name).style.display = "block";
			evt.currentTarget.className += " active";
		}

		// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
	</script>
</body>
</html>